<button onclick="handlePayment()">
    Pay with Razorpay
</button>
<script>
    function handleWebsocket(subscription_id = 'sub_OT3S29Vim5KFTO') {

        const isHTTP = window.location.protocol === 'http:';

        let ws = new WebSocket(`${isHTTP ? 'ws://' : 'wss://'}${window.location.origin}/ws/airpay/${subscription_id}`);
        ws.onopen = function () {
            console.log('connected');
            ws.send('Hello Server!');
        }
        ws.onmessage = function (event) {
            let data = JSON.parse(event.data);
            if (data.status === 'active') {
                alert('Payment Successful');
                window.open("{{ return_url }}", "_self");
            } else {
                alert('Payment Failed');
            }
        }
        ws.onclose = function () {
            handleWebsocket();
        }
    }

    handleWebsocket()
    function handlePayment() {
        // make an api request to server to create order
        fetch(`${window.location.origin}/api/airpay/subscribe/?seller_id={{seller_id}}&plan_id={{plan_id}}&gateway={{gateway}}&buyer={{buyer}}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(response => response.json()).then(
            data => data['data']
        ).then(
            data => {
                handleWebsocket(data.subscription_id);
            }).catch(error => {
            console.error('Error:', error);
            alert('Error:', error);
        });
    }
</script>